
html {
  margin: 0px;
  padding: 0px;
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50px;
}
div {
  display: flex;
  flex-direction: column;
  margin: 8px 5px;
  padding: 0px;
  justify-content: center;
  text-align: center;
}
div a {
  text-decoration: none;
}
div a:hover {
  margin-right: 8px;
  box-shadow: 2px 2px 2px #b5b1b1;
}
div img {
  height: 28px;
}
div h6 {
  margin: 0px;
  padding: 0px;
  font-size: 8px;
  color: #000000;
  text-shadow: 1px 1px 1px #b5b1b1;
  font-family: sans-serif;
}
